 svg {
    font-family: "Helvetica Neue", Helvetica;
}

 line {
    shape-rendering: crispEdges;
    vector-effect: non-scaling-stroke;
 
    /* stroke:yellowgreen; */
     stroke-width: 10px;
} 

.active-d3-item {
    cursor: pointer;
    
    stroke: magenta;
}
 
